<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:jee="http://www.springframework.org/schema/jee" 
	   xmlns:tx="http://www.springframework.org/schema/tx"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">
	
	
	<description>导入applicationContext文件列表,可随时通过注释disable不需要的模块</description>
    <!-- 导入spring aop配置文件-->
	<!--<import resource="applicationContext-tx.xml" />--> 
	<!-- 导入spring dao配置文件 -->
	<import resource="applicationContext-dao.xml" />
	<import resource="applicationContext-mvc.xml" />
	<aop:aspectj-autoproxy />
	<bean id="instance" class="com.hazelcast.core.Hazelcast" factory-method="newHazelcastInstance">
	  <constructor-arg>
	    <bean class="com.hazelcast.config.Config">
	      <property name="groupConfig">
	        <bean class="com.hazelcast.config.GroupConfig">
	          <property name="name" value="dev"/>
	          <property name="password" value="pwd"/>
	        </bean>
	      </property>
	      <!-- and so on ... -->
	    </bean>
	  </constructor-arg>
	</bean>

	<bean id="map" factory-bean="instance" factory-method="getMap">
	  <constructor-arg value="map"/>
	</bean>
</beans>